@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600;700&display=swap');

 body{
    font-family: 'Nunito', sans-serif;
    color: white;
    overflow: auto; /* Enable scrolling */
    background-color: black;
    min-height: 100vh; /* Ensure body can expand */
    line-height: 1.6;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.bg-img2 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/images/space2.jpg) no-repeat fixed center;
    background-size: cover;
    animation: scaling 60s linear infinite;
    z-index: -1; /* Move background image behind content */
}


/* Keyframes for scaling animation */
@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    border-bottom: 1px solid #444;
}

header a.logo {
    font-size: 2em;
    color: #ffffff;
    text-decoration: none;
}

header ol {
    list-style: none;
    display: flex;
    gap: 15px;
}

header ol li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

header ol li a.active {
    color: #ffffff;
}

main {
    padding: 20px 0;
}

h1, h2 {
    color: #ffffff;
}

.mars-img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.intro {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.intro p {
    flex: 1;
}

.details ul, .exploration ul {
    list-style: none;
    padding: 0;
}

.details ul li, .exploration ul li {
    background: #67629784;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

.details ul li::before, .exploration ul li::before {
    content: "✔";
    color: #1ff8d0;
    margin-right: 10px;
}

.future {
    margin-top: 20px;
}
